<?xml version="1.0" encoding="utf-8"?>
<!--
		CAUTION! 
		Modifying the application configuration can cause serious problems using the TAM SDK. You should know what you're
		doing when changing any setting.
		
		 $Id: app.config 33762 2020-05-04 14:24:14Z chm $
-->
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Triamec.Tam.Samples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>

	</configSections>

	<userSettings>
		<Triamec.Tam.Samples.Properties.Settings>
   <setting name="TamConfigurationPath" serializeAs="String">
    <value>GearUp.TAMcfg</value>
   </setting>
   <setting name="SerialNumberMaster" serializeAs="String">
    <value>1559</value>
   </setting>
   <setting name="SerialNumberSlave" serializeAs="String">
    <value>852</value>
   </setting>
  </Triamec.Tam.Samples.Properties.Settings>
	</userSettings>

	<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
